.main-navigation {
  background:#cfcfcf;
}

.main-navigation ul{
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.main-navigation li{

  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2em;
  border-bottom: 1px solid #050505;
  line-height: 40px;
  height: 40px;
  width: 120px;
}

@media screen and (min-width: 600px){
  .main-navigation li {
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    display: inline-block;
  }

}
.main-navigation a {
  text-decoration: none;
  color: #050505;
  display: block;
  transition: .3s background-color;
}

.main-navigation a:hover {
  background-color: #eeea84;
}

.main-navigation a.active {
  background-color: #050505;
  color: #faf9c2;
  cursor: default;
}

img {
  max-width: 100%;
}


main {
  max-width: 1024px;
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
  align-content: center;
}

main.contact-page {
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: left;
}

footer {
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
}
img.productpage-product {
  padding-top: 50px;
}
img.project-grid-thumbnail {
  max-width: 200px;
}

img.profile-pic {
  max-width: 225px;
}

p.profile-text {
  max-width: 300px;
}
p.project-grid-text {
  max-width: 300px;
}

select.order-select {
  margin-top: 20px;
}

button.order-button {
  margin-top: 20px;
  max-width: 80px;
  align-items: center;
}

div.left-column {
  padding-left: 100px;
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

div.index-banner {
  padding-top: 50px;
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.contact-grid-container {
  max-width: 1536px;

}

.project-grid-container {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
  grid-row-gap: 50px;

}
div.projectgriditem1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
div.projectgriditem2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
div.projectgriditem3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
div.projectgriditem4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
div.projectgriditem5 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
div.projectgriditem6 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
div.projectgriditem7 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}
div.projectgriditem8 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

.product-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
  grid-row-gap: 50px;

}
div.productgriditem1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
div.productgriditem2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
div.productgriditem3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
div.productgriditem4 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
div.productgriditem5 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
div.productgriditem6 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
div.productgriditem7 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
div.productgriditem8 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}
.contact-grid-container {
  padding-top: 150px;
  padding-right: 150px;
  padding-left: 150px;
  padding-bottom: 150px;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 25px;
  grid-row-gap: 50px;

}

p.profile-text{

}

div.contactgriditem1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
div.contactgriditem2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
div.contactgriditem3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
div.contactgriditem4 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
div.contactgriditem5 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
div.contactgriditem6 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
div.contactgriditem7 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
div.contactgriditem8 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

div.form {
  border: 2px solid #cfcfcf;
  text-align: center;
  padding: 2;
  margin: 200px;
  overflow: hidden;
  max-width: 1024px;
  padding-top: 50px;

}
div.fname{
  text-align: center;
  width: 50%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  max-width: 1024px;
  padding-top: 30px;

  }
div.lname{
  text-align: center;
  width: 50%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  max-width: 1024px;
  padding-top: 30px;

  }
div.formmessage{
  width: 50%;
  text-align: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
  max-width: 1024px;
  padding-top: 30px;
}
div.replyemail{
  width: 50%;
  text-align: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
  max-width: 1024px;
  padding-top: 30px;
}
div.submitbutton{
  width: 50%;
  text-align: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
  max-width: 1024px;
  padding-top: 30px;
  padding-bottom: 30px;
}
[type="submit"]:hover{
  backgroud: #cfcfcf;
[type="submit"]:hover{
  backgroud: #EEEA84;
}

input[type=text], select, textarea{
  width: 60%;
  padding: 12px;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
